body {
    background-image: url("IMG_2099.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
 #main {
    padding: 25px;
    padding-left:  25px;
    padding-right: 25px;
    background-color: lightblue;
    border-radius: 0 0 10px 10px;
}
 
h1 {
    font-family: Arial, serif;
    color: green;
    font-size: 50px;
    text-align-last:center;
  
}

h2 {
font-family:'Times New Roman', Times, serif;
	clear:both;
	font-size: 20px,;
    color:white;


   
}
h3 {
    font-family :'Times New Roman';
    color: white;
    font-size:25px;
    float:right;
    text-align:left;


}

#p{
    font-family:Arial;
    font-size:15px;
   
}

   #bio_right { 
	font-size: 11px;
	float: left;
	text-align: right;
	width: 50%;
}
.location {
    clear: right;
    float: right;
    text-align: justify;
    width: 50%;
}
#bio_left {
    font-size: 11px;
    float: left;
    width: 50%;
}

img{
    float:right;
    margin:0px 0px 5px 5px;
}
a:link,a:visited
{
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    float:right;
    border-radius:50px;
}
a:hover, a:active {
    background-color: gray;
}



ul {
    list-style-type:none;
    font-family:Arial;
    font-size:25px;
   
    border-radius:30px;
  
    text-decoration-line:underline;
}
li{
float:right;
    color:blue;
    text-decoration:underline;
}
div
{
    width: 100px;
    height: 100px;
    background: border-box;
    transition-duration: 5s;
    color:red;
}
div:hover{
    width: 150px;
  
}
 